table, th ,td{
    border:  solid black;
    border-collapse: collapse;
  }

  h1{
     text-align: center;
     font-size: 34px;
     font-style: italic;
    
  }
  h3{
    font-size: 22px;
    font-style: oblique;
  }
  body{background-color: gray;}

   #fish2{
    background-color: white;
    float: right;
  }
  #fam{
    position: relative;

  }
  #store{
    display: inline-flex;
    border:2px dotted black;
    margin: 10px;
    color: whitesmoke;
  }
  #store div{
    padding: 10px;

  }
  #shirt{ 
    padding: 30px;
    margin: 5px;
  }
  #foot{
    border: 2px solid wheat;
    height: 30px;
    color: wheat;
    text-align: center;
  }